{% extends "base.html" %}
{% block title %} Monkey {% endblock %}

{% block body%}
    <div id="wrapper">
        <div id="content">
            <h1>Monkey Graph</h1>
            <p>Type a phrase and see related words!</p>
            <div>
                <input type="text" id="phrase">
                <input type="button" id="submit" value="Submit">
            </div>
        </div>
    </div>
    <script type=text/javascript>
        $(function() {
            $('#submit').click(function() {
                let text = $('#phrase').val().trim();
                if(!text) {
                    return;
                }
                window.location.href = '/query/' + text + '/';
            });
        });
    </script>
{% endblock%}
