{% extends "base.html" %}
{% block title %} Monkeybar - {{ phrase }} {% endblock %}

{% block body%}
    <div class="container" id="wrapper">
        <div id="content">
            <h1>Monkeybar Graph</h1>
            <p>The phrase you searched for was "{{ phrase }}".</p>
            <p>Here is a table that shows related words.</p>
            <ol id="list"></ol>
        </div>
    </div>
    <script type=text/javascript>
        $(function() {
            let words = JSON.parse('{{ words }}'.replaceAll('&#34;', '"'));
            let list = $('#list');
            for(let word of words) {
                list.append($(`<li>${word[0]} - ${word[1]}</li>`));
            }
        });
    </script>
{% endblock%}
